<div class="sidebar">
  <hr>
  <div class="sidebar-header sidebar-line ">
    カテゴリ
  </div>
  <hr>
  <ul class="dotnone">
    {% for category in categories|dictsort:"id"|slice:":5" %}
    <li>
      <div class="sidebar-line listbox">
	<a href="{% url 'blog:category_post' category.slug %}" class="card-link">#{{ category.name }}</a>
	<span class="tag-num">{{ category.num_posts }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="sidebar-footer">
    <a href="{% url 'blog:category_list' %}" class="card-link">すべてのタグを見る</a>
  </div>
</div>

<div class="sidebar">
  <hr>
  <div class="sidebar-header sidebar-line">
    タグ
  </div>
  <hr>
  <ul class="sidetxt dotnone">
    {% for tag in tags|dictsortreversed:"num_posts"|slice:":10" %}
    <li class="sidebar-list">
      <div class="sidebar-line">
	<a href="{% url 'blog:tag_post' tag.slug %}" class="card-link">#{{ tag.name }}</a>
	<span class="tag-num">{{ tag.num_posts }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="sidebar-footer">
    <a href="{% url 'blog:tag_list' %}" class="card-link">すべてのタグを見る</a>
  </div>
</div>


